visual/cvart/*
visual/cvart2/*
visual/cvart3/*
visual/cvart4/*
visual/cvart5/*
visual/success/*
visual/video/*
venv/*
*.pyc
visual/reversed/*
audio/Training/training_data/*
audio/out/final/*
audio/Training/csv/knn_classifier.pickle

